<div class="row">
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Board Name</mat-label>
            <input matInput [(ngModel)]="boardName" name="boardName" placeholder="">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Drawing Number</mat-label>
            <input matInput [(ngModel)]="drawNumber" name="drawNumber" placeholder="">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Update Rate</mat-label>
            <input matInput [(ngModel)]="updateRate" name="updateRate" placeholder="">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Hardware Version</mat-label>
            <input matInput [(ngModel)]="hardware" name="hardware" placeholder="" Hardware="">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput [(ngModel)]="Comment" name="Comment" placeholder=""></textarea>
		</mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="openBoard()">Open Board</button>
    </div>
    <div class="col">
        <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    </div>
</div> 